<div class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <div class="card card-signup">
      <div class="card-header card-header-primary text-center">
        <h4>Admin panel</h4>
      </div>
      <div class="card-body text-center">
        Welcome Admin!
      </div>
      <div class="card-footer justify-content-md-end">
        <button (click)="logout()" class="btn btn-fab btn-sm btn-round btn-primary">
          <i class="material-icons">power_settings_new</i>
        </button>
        <button routerLink="/" class="btn btn-fab btn-round btn-sm btn-primary">
          <i class="material-icons">home</i>
        </button>
      </div>
    </div>
  </div>
</div>
